body {
    /* background-color: rgb(26, 255, 251) !important; */
    background-color: aqua !important;
}

#title {
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    color: black;
    /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0), white); */
}

#title-main-div {
    display: flex;
    flex-wrap: wrap;
}

#title-icon {
    margin-top: 25px;
    margin-left: 30px;
    font-size: 30px;
}

.list-fields {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* padding: 5px; */
    padding-left: 30px;
    border-color: red;
    /* background-color:  rgb(180, 255, 219); */
    /* background-color: darkgrey; */
}

.list-fields>button:hover {
    transform: scale(1.1); 
    color: black;
    font-size: 19px;
    cursor: pointer;
}

.page-menu {
    height: 50px;
    width: 200px;
    background-color: white;
    border-style: outset !important;
    /* border-color: green; */
}


.form {
    display: flex;
    justify-content: center !important;
    height: auto;
    position: relative;
    /* top: 10px; */
    left: 30px;
    width: 1200px;
    height: 450px;
    /* border: 10px solid; */
    /* border-style: inset !important; */
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), white) !important;
}

#gap {
    height: 10px !important;
    width: 1200px;
    background-color: white;
    margin-left: 30px;
}

#form-1 {
    height: 500px;
}

.form-control-file {
    margin-bottom: 30px;
    width: 1000px;
    cursor: pointer;
}

#image-preview {
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 500px;
    border: solid;
    width: 130px;
    height: 130px;
}

#preview-icon {
    position: relative;
    top: 40px;
    right: 86px;
    font-size: 50px;
}

input[type=file] {
    position: relative;
    bottom: 80px;
    left: 220px;
}

#personal-details-left-div,
#education-left-div,
#experience-left-div,
#skills-left-div,
#extra-left-div {
    width: 500px;
    padding-right: 40px;
    /* background-color: blue; */
}

#personal-details-right-div,
#education-right-div,
#experience-right-div,
#skills-right-div,
#extra-right-div {
    width: 500px;
    padding-right: 40px;
    /* background-color: yellow; */
}

#first-name,
#phone-number,
#last-name,
#email,
#college-name,
#college-location,
#field-of-study,
#company-name,
#designation,
#company-location,
#exp-end-year,
#exp-start-year,
#linkedin-profile,
#github-profile,
#project-name,
#state,
#city,
#cgpa,
#edu-end-year,
#school-name,
#school-location,
#sslc-percentage,
#hsc-percentage,
#birthday,
#male-gender,
#female-gender {
    margin-right: 30px;
    /* margin-left: 100px; */
    margin-top: 50px;
}

#cgpa,
#edu-end-year,
#hsc-percentage,
#sslc-percentage,
#exp-end-year,
#exp-start-year {
    margin-right: -30px !important;
}

#skills-name {
    margin-top: 50px;
    margin-left: 30px;
}

#skills-error {
    position: absolute;
    top: 95px;
    left: 210px;
    color: red;
}

.technical-skills {
    width: 40px !important;
    margin-left: 210px;
    margin-top: 20px;
    height: 40px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.skills-remove {
    position: relative;
    bottom: 40px;
    left: 480px;
    width: 90px;
    height: 40px;
    background-color: whitesmoke;
    /* border: none; */
}

.child-skill-error-class {
    margin-left: 120px;
    color: red;
}

#fname-icon,
#phone-icon,
#lname-icon,
#email-icon,
#college-location-icon,
#college-name-icon,
#fos-icon,
#company-name-icon,
#designation-icon,
#company-location-icon,
#exp-end-year-icon,
#exp-start-year-icon,
#linkedin-icon,
#github-icon,
#project-name-icon,
#skills-icon,
#state-icon,
#city-icon,
#edu-end-year-icon,
#cgpa-icon,
#school-name-icon,
#school-location-icon,
#sslc-percentage-icon,
#hsc-percengtage-icon,
#birthday-icon,
#gender-icon {
    position: absolute;
    top: 56px;
    left: 400px;
}

#fname-error,
#phone-error,
#lname-error,
#email-error,
#college-name-error,
#college-location-error,
#fos-error,
#company-name-error,
#designation-error,
#company-location-error,
#exp-end-year-error,
#exp-start-year-error,
#linkedin-error,
#github-error,
#project-name-error,
#text-area-project-error,
#state-error,
#city-error,
#cgpa-error,
#edu-end-year-error,
#school-name-error,
#school-location-error,
#sslc-percentage-error,
#hsc-percentage-error,
#birthday-error,
#gender-error {
    position: absolute;
    top: 95px;
    left: 60px;
    color: red;
}

#text-area-project-error {
    margin-top: 210px;
    margin-left: 600px;
}

#description-error {
    position: absolute;
    top: 275px;
    left: 560px;
    color: red;
}
    
#select-error {
    position: absolute;
    top: 300px;
    left: 210px !important;
    color: red;
}

#ph-no-label-id,
#first-name-label-id,
#last-name-label-id,
#email-label-id,
#college-name-label-id,
#college-location-label-id,
#field-of-study-label-id,
#company-name-label-id,
#designation-label-id,
#company-location-label-id,
#exp-end-year-label-id,
#exp-start-year-label-id,
#linkedin-profile-label-id,
#github-profile-label-id,
#project-name-label-id,
#skills-label-id,
#state-label-id,
#city-label-id,
#cgpa-label-id,
#edu-end-year-label-id,
#school-name-label-id,
#school-location-label-id,
#sslc-percentage-label-id,
#hsc-percentage-label-id,
#birthday-label-id,
#languages-known-label-id,
#description-label-id,
#gender-label-id {
    margin-top: 50px;
    margin-left: 50px;
    background-color: whitesmoke;
}

#edu-right-main-left-div,
#edu-right-main-right-div,
#exp-right-main-left-div,
#exp-right-main-right-div {
    float: left;
    width: 200px;
    /* padding: 10px;
    margin-top: 40px; */
}

#edu-left-main-left-div,
#edu-left-main-right-div {
    float: left;
    width: 200px;
}

.continue-button {
    position: relative;
    left: 950px;
    bottom: 90px;
    width: 100px;
    height: 40px;
    background-color: whitesmoke;
}

#add-degree-button {
    position: relative;
    top: 60px;
    left: 50px;
    height: 40px;
    background-color: whitesmoke;
    /* border: none; */
}

#skill-add-button {
    position: relative;
    top: -37px;
    left: 480px;
    height: 37px;
    background-color: whitesmoke;
}

#previous-button {
    position: relative;
    bottom: 130px;
    left: 830px;
    height: 40px;
    width: 100px;
    background-color: whitesmoke;
}

/* 
img {
    margin-left: 320px;
    max-width: 400px;
    border-radius: 0px;
} */

input[type=radio] {
    margin-left: 5px;
    width: 20px;
    height: 2em;
}

#male-label-id,
#female-label-id {
    position: relative;
    top: 50px;
    left: 75px;
    font-size: 18px;
}

#female-label-id {
    position: relative;
    left: 95px !important;
}

#text-area-label {
    position: relative;
    top: 50px;
    left: 50px;
}

#text-area,
#text-area-project {
    position: relative;
    top: 20px;
    left: 50px;
    width: 380px;
    height: 70px;
}

#text-area-project {
    margin-top: 120px !important;
}

#pdf-heading {
    position: absolute;
    top: 70px;
    left: 270px;
}

#download-pdf-button {
    display: flex;
    align-items: center;
    position: relative;
    top: 150px;
    left: 400px;
    width: 150px;
    height: 50px;
    padding: 15px;
}

.select {
    position: relative;
    left: 204px;
    bottom: 150px;
    width: 225px;
    height: 150px;
}

.option {
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
}   

#select-disclaimer {
    position: relative;
    top: 5px;
    left: 55px;
    font-style: italic;
}

#save-button, #select-error {
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 100px;
    height: 40px;
}

#select-error {
    position: absolute;
    bottom: 50px;
    right: 40px !important;
    color: red;
}