<router-outlet></router-outlet>
<p>{{name}}</p>
<p>{{"My name is " + name}}</p>
<p>{{"function call in interpolation " + getName()}}</p>
<button class="btn btn-primary" id="buttonId" [disabled]="isDisabled">Disabled button using disabled attribute</button>
<p [class]="colorStyleText">Class binding</p>
<p [class.green-color]="isDisabled">This is achieved using Class binding... if isDisabled value is true style will apply</p>
<p [ngClass]="'green-color yellow-color red-color'">Color appears in the order of the colors in css file</p>
<p [style.color]="'blue'">Style binding</p>
<p [style.color]="isDisabled ? 'red' : 'green'">If is isDisabled is false then red color or else green color (acheieved using ternary operator)</p>
<p [style.color]="color">Shows aqua color</p>
<button class="btn btn-secondary" (click)="onclick()">on click show</button>
{{showText}}