<!-- <app-tool-bar></app-tool-bar>
<div *ngFor="let user of userDatas" class="panel-container">
    <div class="panel-column">
        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    userId: {{user.userId}}
                </mat-panel-title>
                <mat-panel-description>
                    userName: {{user.userName}}
                    <mat-icon id="profile-picture">account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Bio: {{user.bio}}</p>
            <button mat-mini-fab matTooltip="Home" color="none" class="icons">
                <mat-icon color="primary">keyboard_arrow_right</mat-icon>
            </button>
        </mat-expansion-panel>
    </div>
</div> -->

<p>{{token}}</p>