table,
td {
    height: 50px;
    text-align: center;
    border-collapse: collapse;
    border-style: solid;
    margin: 50px;
    color: white;
}

#title {
    width: 500px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    justify-content: center;
    margin-bottom: 30px
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: grey !important;
    border-color: white;
}

/* tr:hover {background-color: skyblue  ;} */
