.title {
    color: black;
    font-size: 25px;
    margin-left: 500px;
    margin-bottom: 30px;
    padding-top: 40px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.center {
    margin-left: 250px;
    /* margin-top: 20px; */
    margin-right: 250px; 
}

tr:hover {
    background-color: #212529;
    color: white;
}

table, th, td, tr {
    vertical-align: center !important;
    text-align: center !important;
    font-family: 'Times New Roman', serif;
    margin-top: 40px;
}

td {
    font-size: 16px;
    vertical-align: center;
    font-weight: 500;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px #212529;
}

.btn-secondary {
    background-color: #212529;
}

#edit-user,
#delete-user {
    height: 35px;    
    border-radius: 120.25rem !important;
}

.add-user-div {
    position: absolute;
    top: 30px;
    left: 920px;
    width: 100px;
    background-color: #3F51B5;
}

.pagination {
    position: relative;
    top: 20px;
    justify-content: center;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #3F51B5 !important;
    color: #fefefe;
    cursor: default;
}

#delete-user-id {
    width: 70px;
    position: relative;
    bottom: 262px;
    left: 1050px;
}

