body {
	/* background-color: rgb(0, 29, 110); */
	text-align: center !important;
	user-select: none;
	/* background-color: white !important; */
	/* color: black !important; */
}

#title {
    /* color: rgb(0, 29, 110); */
    margin: 30px 10px 10px 10px;
	font-size: 30px;
	font-weight: bolder;
}

#wrong-icon {	
	font-size: 50px;
	margin-top: 35px;
	color: red;
}

#color-code {
	display: block;
	margin-top: 40px;
}

#container {
	max-width: 500px;
	margin-top: 80px !important;
	padding-left: 50px;
}

.square {
	/* background-color: purple; */
	border-radius: 500px;
	/* display: block; */
	height: 120px;
	width: 120px;
	float: left;
	margin: 15px;
	cursor: pointer;
}

#new-game-button {
	margin-left: 30px;
	margin-top: 20px;
}

#message {
	margin-top: 80px;
	margin-left: 530px !important;
	/* font-size: 20px; */
}

.dark-mode-switch {
	margin-top: 40px;
	margin-left: 530px !important;
}