input[type=text],
input[type=submit],
input[type=reset] {
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}

table,
td {
    height: 50px;
    width: 500px;
    text-align: center;
    border-collapse: collapse;
    border-style: solid;
    margin: 30px;
}